service: nidoro-backend
frameworkVersion: '>=3.0.0'
useDotenv: true

provider:
  name: aws
  runtime: nodejs18.x
  region: us-east-1
  stage: ${opt:stage, 'dev'}
  environment:
    DYNAMO_TABLE: ${env:DYNAMO_TABLE}
  iamRoleStatements:
    - Effect: Allow
      Action:
        - dynamodb:Query
        - dynamodb:Scan
        - dynamodb:GetItem
        - dynamodb:PutItem
        - dynamodb:UpdateItem
        - dynamodb:DeleteItem
      Resource:
        - arn:aws:dynamodb:${self:provider.region}:*:table/${env:DYNAMO_TABLE}

  httpApi:
    cors:
      allowedOrigins:
        - '*'
      allowedHeaders:
        - Content-Type
        - Authorization
      allowedMethods:
        - OPTIONS
        - GET
        - POST
        - PUT
        - DELETE
      allowCredentials: false

functions:
  getPresupuesto:
    handler: src/handlers/getPresupuesto.handler
    events:
      - httpApi:
          path: /presupuesto
          method: get
          cors: true

  createPresupuesto:
    handler: src/handlers/createPresupuesto.handler
    events:
      - httpApi:
          path: /presupuesto
          method: post
          cors: true

  updatePresupuesto:
    handler: src/handlers/updatePresupuesto.handler
    events:
      - httpApi:
          path: /presupuesto/{id}
          method: put
          cors: true

  deletePresupuesto:
    handler: src/handlers/deletePresupuesto.handler
    events:
      - httpApi:
          path: /presupuesto/{id}
          method: delete
          cors: true

plugins:
  - serverless-dotenv-plugin
  - serverless-offline

resources:
  Resources:
    PresupuestoTable:
      Type: AWS::DynamoDB::Table
      Properties:
        TableName: ${env:DYNAMO_TABLE}
        AttributeDefinitions:
          - AttributeName: id
            AttributeType: S
          - AttributeName: category
            AttributeType: S
        KeySchema:
          - AttributeName: id
            KeyType: HASH
        GlobalSecondaryIndexes:
          - IndexName: CategoryIndex
            KeySchema:
              - AttributeName: category
                KeyType: HASH
            Projection:
              ProjectionType: ALL
        BillingMode: PAY_PER_REQUEST
